.panel-window {
  position: absolute;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 300px;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move; /* 在标题栏显示拖拽光标 */
}

.close-button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.close-button:hover {
  color: red;
}

.expand-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.expand-button:hover {
  background-color: #555;
}
